.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This will center vertically in the viewport */
    text-align: center;
  }

.h1 
{
    color: white;
    
}
.h3
{
    color: white;
    
}
.link
{
    color: skyblue;
    
    
}